{% extends "forms.html" %}

{% block extraheading %}
    <script>
        $("#challenges").addClass("active");
    </script>
{% endblock %}

{% block form-title %}{{ title }}{% endblock %}
{% block form-action %}{% url 'challenges' %}{% endblock %}
{% block form-extra %}
    <input type='hidden' name='action' value='delete'/>
    <input type='hidden' name='id' value='{{ project.id }}'/>
{% endblock %}
{% block form-back %}{% url 'challenges' %}{% endblock %}
{% block form-object %}{{ project }}{% endblock %}
{% block buttonname %}YES{% endblock %}
{% block buttoncancel %}NO{% endblock %}