{% load static %}
<html>

<head>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700&subset=latin,cyrillic,cyrillic-ext,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-timepicker.css' %}" rel="stylesheet" />
    <link href="{% static 'css/challenges.css' %}" rel="stylesheet" />
    <link href="{% static 'css/alertify.core.css' %}" rel="stylesheet" />
    <link href="{% static 'css/alertify.default.css' %}" rel="stylesheet" />

</head>

<body>

<div class="row">

    <!-- Menu -->
    <div class="side-menu">

        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="javascript:void(0);">Challenges</a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container" >
                <ul class="nav navbar-nav">

                    {% if challenges %}
                        <li>
                            <a href="javascript:void(0);">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                        </li>
                        {% for challenge in challenges %}
                            <li class="panel panel-default">
                                <a data-toggle="collapse" href="javascript:void(0);" idch="{{ challenge.id }}">
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    {{ challenge.name }} ({{ challenge.code }})
                                    <span style="float: right" class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </li>
                        {% endfor %}

                    {% else %}

                        <br/>
                        <li class="panel panel-default" >
                            <span class="alert alert-info " style="text-align: center">There are not Challenges in the system</span>
                        </li>

                    {% endif %}
                </ul>

                <span style="float: right; margin: 1em">
                    <a href="javascript:void(0);" id="btnAddChallenge" class="btn btn-lg btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Add Challenge
                    </a>
                </span>

            </div><!-- /.navbar-collapse -->
        </nav>

        <form class="well" id="challenge_form" style="display: none; padding: 1em; min-height: 120px">
            <input type="hidden" name="action" value="create_challenge"/>
            <label for="challenge_name">
                Name:
                <input id="challenge_name" name="challenge_name" value="" style="width: 270px"/>
            </label>
            <a class="btn btn-sm btn-primary" id="challenge_save" style="float: right; margin-left: 0.5em"><i class="glyphicon glyphicon-ok"></i> Save</a>
            <a class="btn btn-sm btn-info" id="challenge_cancel" style="float: right;"><i class="glyphicon glyphicon-refresh"></i> Cancel</a>
        </form>

    </div>

    <!-- Main Content -->
    <div class="container-fluid" style="margin: 1em">
        <div class="side-body">
            <h1> Challenge Name (4567) </h1>

            <div class="main-questions-list">

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Question 1
                                    <span style="float: right">
                                        <i class="glyphicon glyphicon-chevron-down"></i>
                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div itemprop="item">
                                    <div class="col-md-9 col-xs-9 q-left-content">

                                        <div class="q-ltop-content">
                                            <h2 itemprop="name">
                                                <a itemprop="url" href="#" class="question-title">
                                                    What is business??
                                                </a>
                                            </h2>
                                        </div>

                                        <div style="padding-top: 2em">

                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td style="width: 20px">1</td>
                                                    <td>Answer 1</td>
                                                    <td style="width: 20px">
                                                        <i style="color: green; margin-right: 1em" class="glyphicon glyphicon-ok"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Right Side with Stats -->
                                    <div class="col-md-3 col-xs-3 q-right-content">
                                        <ul class="question-statistic">
                                            <li class="active">
                                                <span class="question-views">17 </span> Views
                                            </li>
                                            <li class="active">
                                                <span itemprop="answerCount" class="question-answers">2 </span>Correct</li>
                                            <li class="active">
                                                <span itemprop="upvoteCount" class="question-votes">0 </span> Incorrect
                                            </li>
                                        </ul>
                                        <div class="pumping">
                                            <a class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-edit"></i> Edit Question</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Question 2
                                    <span style="float: right">
                                        <i class="glyphicon glyphicon-chevron-down"></i>
                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div itemprop="item">
                                    <div class="col-md-9 col-xs-9 q-left-content">

                                        <div class="q-ltop-content">
                                            <h2 itemprop="name">
                                                <a itemprop="url" href="#" class="question-title">
                                                    What is business??
                                                </a>
                                            </h2>
                                        </div>

                                        <div style="padding-top: 2em">

                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td style="width: 20px">1</td>
                                                    <td>Answer 1</td>
                                                    <td style="width: 20px">
                                                        <i style="color: green; margin-right: 1em" class="glyphicon glyphicon-ok"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                    <!-- Right Side with Stats -->
                                    <div class="col-md-3 col-xs-3 q-right-content">
                                        <ul class="question-statistic">
                                            <li class="active">
                                                <span class="question-views">17 </span> Views
                                            </li>
                                            <li class="active">
                                                <span itemprop="answerCount" class="question-answers">2 </span>Correct</li>
                                            <li class="active">
                                                <span itemprop="upvoteCount" class="question-votes">0 </span> Incorrect
                                            </li>
                                        </ul>
                                        <div class="pumping">
                                            <a class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-edit"></i> Edit Question</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Question 3
                                    <span style="float: right">
                                        <i class="glyphicon glyphicon-chevron-down"></i>
                                    </span>
                                </a>
                            </h4>

                        </div>
                        <div id="collapse3" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div itemprop="item">
                                    <div class="col-md-9 col-xs-9 q-left-content">

                                        <div class="q-ltop-content">
                                            <h2 itemprop="name">
                                                <a itemprop="url" href="#" class="question-title">
                                                    What is business??
                                                </a>
                                            </h2>
                                        </div>

                                        <div style="padding-top: 2em">

                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td style="width: 20px">1</td>
                                                    <td>Answer 1</td>
                                                    <td style="width: 20px">
                                                        <i style="color: green; margin-right: 1em" class="glyphicon glyphicon-ok"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Answer 1</td>
                                                    <td>
                                                        <i style="color: red; margin-right: 1em" class="glyphicon glyphicon-remove"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!-- Right Side with Stats -->
                                    <div class="col-md-3 col-xs-3 q-right-content">
                                        <ul class="question-statistic">
                                            <li class="active">
                                                <span class="question-views">17 </span> Views
                                            </li>
                                            <li class="active">
                                                <span itemprop="answerCount" class="question-answers">2 </span>Correct</li>
                                            <li class="active">
                                                <span itemprop="upvoteCount" class="question-votes">0 </span> Incorrect
                                            </li>
                                        </ul>
                                        <div class="pumping">
                                            <a class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-edit"></i> Edit Question</a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-right">
                    <a class="btn btn-success btn-lg"><i class="glyphicon glyphicon-plus"></i> Add Question</a>
                </div>

            </div>
        </div>

    </div> <!-- end container fluid -->
</div> <!-- end row -->

<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/alertify.min.js' %}"></script>

<script>

    $(function () {

        $('.navbar-toggle').click(function () {
            $('.navbar-nav').toggleClass('slide-in');
            $('.side-body').toggleClass('body-slide-in');
            $('#search').removeClass('in').addClass('collapse').slideUp(200);
        });

        // Remove menu for searching
        $('#search-trigger').click(function () {
            $('.navbar-nav').removeClass('slide-in');
            $('.side-body').removeClass('body-slide-in');
        });

        $("#btnAddChallenge").click(function () {
            $("#challenge_form").fadeIn();
        });

        $("#challenge_cancel").click(function () {
            $("#challenge_form").fadeOut();
        });

        sendform = function(){
            var formdata = new FormData($("#challenge_form")[0]);
            $.ajax({
                type: "POST",
                url: "{% url 'challenges' %}",
                data: formdata,
                success: function(data) {
                    if (data.result === 'ok') {
                        alertify.success(data.msg);
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        alertify.error(data.msg);
                    }
                },
                error: function() {
                    alertify.error("Server Error");
                },
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false
            });
        };

        $("#challenge_save").click(function () {
            $("#challenge_form").fadeOut();
            sendform();
        });

    });

</script>



</body>

</html>

